#contact-page {
    
    @include gridSettingsAll ($siteWrapper, $siteWrapper, $minmaxfr, $minmaxfr, 0, 0);

    .contact-section {        
        padding: 0 2rem;
        box-sizing: border-box;
        @include gridPosition(2, 2, 1, 1);
        position: relative;
        z-index: 2;
        width: 100%;
        height: calc(100vh - 112px);
        margin-top: 112px;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            height: calc(100vh - 72px);
            margin-top: 72px;            
        }

        .content-wrapper {
            background: rgba($white, .8);
            padding: 2em;
            box-sizing: border-box;         
            max-width: 500px;
            width: 100%;

            h1 {
                font-family: $font-header;
                color: $secondary-color;
                font-size: 2em;
                text-align: center;
                margin-bottom: 1em;
            }

            .form-container {                
                max-width: 500px;
                width: 100%;
                display: flex;

                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    label {
                        color: $white;
                        background: $secondary-color;
                        padding: .5em;
                        box-sizing: border-box;
                        font-size: 1.2em;
                        font-family: $font-header;
                    }

                    input, textarea {
                        width: 100%;
                        box-sizing: border-box;
                        margin-bottom: 1em;
                        border: 2px solid $secondary-color;
                        transition: $transition-half;
                        font-family: $font-body;
                        font-size: 1.1em;

                        &:focus, &:focus-visible {
                            border: 2px solid $primary-color;
                            transition: $transition-half;
                            outline: none;
                        }
                    }

                    input {                        
                        padding: .5em;
                        box-sizing: border-box;

                        &[type=submit] {
                            background: #949494;
                            color: $white;
                            transition: $transition-half;
                            font-family: $font-header;

                            &:hover, &:focus, &:focus-visible {
                                background: $secondary-color;
                                transition: $transition-half;
                            }
                        }
                    }

                    textarea {
                        margin-top: -1px;
                        height: 150px;
                    }
                }
            }
        }
    }

    .lines {
        @include gridPosition(1, 1 / span 3, 1, 1);
        -ms-grid-column-span: 3;
        position: relative;
        z-index: 1;
        width: 100%;
        height: calc(100vh - 112px);
        margin-top: 112px;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $secondary-color;

        @include tablet {
            height: calc(100vh - 72px);
            margin-top: 72px;            
        }

        .line {
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: 50%;
            background: rgba(255, 255, 255, 0.1);
            overflow: hidden;

            &::after {
              content: '';
              display: block;
              position: absolute;
              height: 15vh;
              width: 100%;
              top: -50%;
              left: 0;
              background: linear-gradient(to bottom, rgba($primary-color, 0) 0%, $primary-color 75%, $primary-color 100%);
              animation: drop 7s 0s infinite;
              animation-fill-mode: forwards;
              animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            }
  
            &:nth-child(1) {
              margin-left: -25%;
              &:after {
                animation-delay: 2s;
              }
            }
  
            &:nth-child(3) {
              margin-left: 25%;
              &:after {
                animation-delay: 2.5s;
              }
            }

            

        }
    }
}