header {
    @include gridstart;
    height: 112px;
    background-color: $white;

    position: fixed;
    z-index: 35;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;


    .inner-header {
        @include gridchild;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        height: inherit;

        .logo {
            width: 70px;
            height: 70px;
            a img {
                width: 70px;
                height: 70px;
            }

        }

       
    }

    @include tablet {
        height: 72px;
      

        .inner-header {
            .logo {
                width: 60px;
                height: 60px;
                a img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}