//mixin and font

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

//mobile screens
$mobile: 30.000em;
//>mobile < tablet
$phablet: 40.000em;
//small tablet portrait view
$tablet: 48.000em; //768px
//tablets and small desktop
$small-screen: 62.000em;
//large screens
$medium-screen: 80.000em;
//< screens
$large-screen: 87.500em;
//larger screens
$xlarge-screen: 90.000em;

// Small devices
@mixin mobile {
  @media (max-width: #{$mobile}) {
      @content;
  }
}

// Phablet size
@mixin phablet {
  @media (max-width: #{$phablet}) {
      @content;
  }
}

// Tablet
@mixin tablet {
  @media (max-width: #{$tablet}) {
      @content;
  }
}

//  Small Screen
@mixin small-screen{
  @media (max-width: #{$small-screen}) {
      @content;
  }
}

// Extra large devices
@mixin medium-screen{
  @media (max-width: #{$medium-screen}) {
      @content;
  }
}

@mixin large-screen{
  @media (max-width: #{$large-screen}) {
      @content;
  }
}

@mixin xlarge-screen{
  @media (min-width: #{$xlarge-screen}) {
      @content;
  }
}

// custom screen
@mixin randomSize($screen-screenSize, $minmax-minmax) {
  @media ($minmax-minmax: $screen-screenSize+'px') {
      @content;
  }
}


@mixin ipad-mini {
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      @content;
}
}

@mixin ipad-pro {
  @media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {
  @content;
  }
}

// fonts
$font-header: 'Raleway', sans-serif;
// normal bold 300
$font-body: 'Open Sans', sans-serif;

//font-sizes
$min_width: 320px;
$max_width: 1200px;
$min_font: 11px;
$max_font: 16px;

// Colours
$primary-color: #e6c300;
$secondary-color: #171717;
$secondary-color-2: #f8f8f8;
$darkgrey:rgba(87, 87, 87, 0.7);
$footergrey:#2f2f2f;
$white: #ffffff;
$black: #000000;
$black-overlay: rgba(0, 0, 0, 0.7);


// IE ONLY 

@mixin old-ie {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
 }
}

// box shadow

@mixin box-shadow {
  box-shadow: 0px 20px 30px 0px rgba(59, 59, 59, 0.12); 
}
@mixin box-shadow-2 {
  box-shadow: 0px 10px 11.44px 1.56px rgba(59, 59, 59, 0.09); 
}

